<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#FFFFFF' >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.5" />
  <style type="text/css">
   @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
   body {
     font-family: 'Open Sans', sans-serif !important;
   }
   a {
      color:#FF6600;
      text-decoration: none;
    }
  </style>
</head>
<table width="550" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
<tr>
<td bgcolor="#FFFFFF" valign="top" style="font-size:12px;color:#616161;font-family:'Open Sans', sans-serif;">

  {% if message %}
  <p style="font-weight:bold">{{message}}</p>
  {% endif %}

  {% if ticket.parent_ticket != nil and recipient.is_admin %}
  <p>This ticket is sub-ticket of <a href="{{ticket.parent_ticket_url | escape }}">Ticket {{ticket.parent_ticket}}</a>: {{ticket.parent_ticket_summary | escape}}</p>
  {% endif %}
  {% if events contains 'ticket-closed-dup' %}
  <p>This ticket was closed as a duplicate of <a href="{% if recipient.is_admin %}{{ticket.master_ticket_url | escape}}{% else %}{{ticket.master_ticket_portal_url | escape}}{% endif %}">ticket #{{ticket.master_ticket}}</a>.<br/>
  Please refer to that ticket for further comments and updates.</p>
  {% endif %}

  <i style="color:#555555; font-size:11px">On {{ticket.last_comment.created_at | date_sw}}, {{ticket.last_comment.creator.full_name_or_email}} wrote:</i>
  {{ticket.last_comment.body | simple_format}}
  <br/>
  {% if recipient.is_admin %}
    <div style="padding:25px 20px; border:1px solid #BDBDBD; background-color: #FAFAFA; font-size:11px;">
      <div style="width:100%">
        <h2 style="display:inline-block;margin-bottom:5px; margin-top:0px;font-weight:normal;font-size:16px;">Ticket Overview</h2>
        <a href="{{ticket.url| escape}}" style="float:right; margin:auto auto;text-decoration:none;font-size:12px;cursor:pointer;border:1px solid #1E88E5;padding:9px 20px;background-color:#1E88E5;color:#E3F2FD">Reply Now</a>
      </div>
      <span style="text-transform:uppercase;font-weight:600;margin-right:5px">Priority</span> {{ticket.priority | escape}}<br/>
      <span style="text-transform:uppercase;font-weight:600;margin-right:7px">Creator</span> {{ticket.creator.full_name_or_email | escape}}<br/>
      <span style="text-transform:uppercase;font-weight:600;margin-right:5px">Assignee</span> {{ticket.assignee.full_name_or_email | escape}}<br/>
      <br/>
    {% if ticket.has_subtickets %}
      <div style="margin-top:5px; border-top: 1px #BDBDBD dashed; border-bottom: 1px #BDBDBD dashed;">
        <h2 style="margin-bottom:5px; margin-top:10px;font-weight:normal;font-size:16px;">Subtickets</h2>
        <ul style="line-height:1.5em; padding-top:0; margin-top:0;">
        {% for subticket in ticket.subtickets %}
          <li style="list-style:none;padding-left:0;margin-left:0"><a href="{{subticket.url}}">{{subticket.ref}}</a>
            <span style="background-color: #FAFAFA; color: white; font-size: 10px; border-radius: 3px; padding: 2px; min-width: 8em;">{{subticket.status}}</span>
            <span>{{subticket.summary | escape}}</span>
          </li>
        {% endfor %}
        </ul>
      </div>
      <br/>
    {% else %}
    <br/>
    {% endif %}
      Ticket Commands let you take control of your help desk remotely. For a full list of available commands and usage <a href="https://community.spiceworks.com/help/Tickets_Anywhere">click here</a>.<br/>
      <br/>
      Examples: <tt>#close, #add 5m, #assign to bob, #priority high</tt>
    </div>
  {% endif %}

  {% if ticket.previous_comments != empty %}
    <br/>
    <h2 style="margin-bottom:10px; margin-top:10px;font-weight:normal;font-size:16px;">Ticket History</h2>
    <hr style="border:1px solid #EEEEEE"/>
  {%endif%}

  {% for comment in ticket.previous_comments %}
    <i style="color:#555555; font-size:11px">On {{comment.created_at | date_sw}}, {{comment.creator.full_name_or_email | escape}} wrote:</i>
    {{comment.body | simple_format}}
    <hr style="border:1px solid #EEEEEE"/>
  {% endfor %}

  {% unless recipient.is_admin %}
    {% if ticket.previous_comments == empty %}<hr/>{% endif %}
    This is an automated response.  Your issue has been noted.  We'll be in touch soon.<br/>

    {% if ticket.suggested_kb_articles.size > 0 %}
    <p>While you wait, maybe the following help articles are related to your issue:<br/>
    <ul>
    {% for article in ticket.suggested_kb_articles %}
      <li><a href="{{article.url}}">{{article.title}}</a></li>
    {% endfor %}
    </ul>
    </p>
    {% endif %}

    <br/>
    Please reply to this email or visit the URL below with any additional details.<br/>
    <br/>
    <a href="{{ticket.portal_url | escape}}">{{ticket.portal_url | escape}}</a><br/>
  {% endunless %}
</td>
</tr>
</table>
</body>
</html>
